/***** BASE STYLES *****/
body {
    font-family: 'Montserrat', sans-serif;
}
/***** GRID *****/
.full-width {
    width: 1240px;
    margin: auto;
    overflow: auto;

}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 380px;
    float: left;
}
/***** HEADER *****/

header .full-width{
    padding-top: 30px;
    padding-left: 20px;
}
header h1 {
    color: #000000;
    text-transform: uppercase;
}
header h1 span {
    color: #77a466;
}
nav {
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    color: #77a466;
    font-size: 14px;
    line-height: 23px;
    padding: 17px 0;
}
nav ul li {
    display: inline-block;
    padding-left: 23px;
}
/***** Main Section ***/
#image .full-width {
    height: 288px;
    width: 1200px;
    border-style: solid;
    border-top: 3px solid #77a466;
    border-right: 0;
    background-image: url("../img/header-image.png");
    border-bottom: 3px solid #77a466;
    border-left: 0;
}
main .full-width {
    padding-left: 20px;
    padding-right: 20px;
}
main h2 {
    color: #77a466;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}
main h3 {
    color: #000000;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}
main p {
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}
/***** Bottom Section *****/
#menu .full-width {
    border-style: solid;
    border-width: 3px 0;
    border-color: #e6e6e6;
    
}
#menu .third-width {
    padding-top: 25px;
}
#menu ul {
    list-style: none;
    color: #77a466;
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
    padding-right: 30px;
}
#menu #review {
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 0 3px;
    padding-left: 30px;
    padding-right: 30px;
}
#menu p#promoted-review {
    font-size: 16px;
    line-height: 21px;
}
#menu #contact {
    padding-left: 30px;
}
#menu p#address {
    font-size: 16px;
    line-height: 24px;
}

/***** FOOTER *****/
footer h2 {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}
footer span {
    color: #77a466;
    font-family: 'Galada';
    font-weight: normal;
    text-transform: lowercase;
}